.page-wrapper {
	font-size: 32px !important;
}

.book.font-size-2 .book-body .page-inner section {
	font-size: 24px!important;
}

.markdown-section h1 {
	font-size: 2em;
}

.markdown-section h2 {
	font-size: 1.6em;
}

.markdown-section h3 {
	font-size: 1.2em;
}

li p {
	margin-bottom: 0.2em!important;
	margin-top: 0.8em!important;
}

.tips {
	background-color: aliceblue;
	padding: 20px;
	margin: 30px 0;
}

iframe {
	height: 800px;
}

.page-inner {
	max-width: 100%!important;
    margin: 0 50px;
}